<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link rel="stylesheet" href="../css/cadastro.css">
</head>
<body>

<h1>Cadastrinho</h1>

<form>
  <label></label>
  <input placeholder="Digite seu CEP">
  <label></label>
  <input placeholder="Digite seu Logradouro">
  <label></label>
  <input placeholder="Digite seu Numero">
  <label></label>
  <input placeholder="Digite seu Complemento">
  <label></label>
  <input placeholder="Digite seu Bairro">
  <label></label>
  <input placeholder="Digite seu Cidade">
  <label></label>
  <input placeholder="Digite seu Estado">
  <input class="enviar" type="submit" value="Salvar" >

  <br>



</form>

</body>
</html>
